<nav class="topnav">
    <div class="navbar-header"><a class="navbar-brand" href="/">Blocipedia</a></div>   
    <ul class="nav navbar-left">
    <% if(!currentUser) { %>
    <li><a href="/users/sign_up/">Sign Up</a></li>
    <li><a href="/users/sign_in/">Sign In</a></li>
    <% } else { %>
    <li><a href="/users/sign_out/">Sign Out</a></li>
    <li><a href="/users/subscription/">Subscription</a></li>
    <% } %>
    <li><a href="/wikis/">Wikis</a></li>
    </ul>
</nav>


