<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main>
      <% include ../static/partials/navbar.ejs %>

      <h1>User Upgrade</h1>
      <!--<a class="btn btn-success" href="/users<% currentUser.id %>/upgradeToPremium/">Click to Subscribe for $15</a>-->
      
      <form method="POST" action="/users/<%= currentUser.id %>/upgradeToPremium/"> 
      <!-- https://stripe.com/docs/checkout/express -->
      <article><label>Premium Blocipedia Membership: $15.00</label></article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%=keyPublishable%>" data-amount="1500" data-name="Demo Site" data-description="Blocipedia Premium Membership" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
      </form> 
      <form method="POST" action="/users/<%= currentUser.id %>/downgradeToFree/">
        <button type="submit" value="Unsubscribe" class="btn btn-primary"/>Unsubscribe</button> 
      </form>
      <p>If you unsubscribe, all of you wikis will be made public.</p>
    </main>
  </body>
</html>