<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main>
      <% include ../static/partials/navbar.ejs %>

      <h1>Thank you for purchasing a subscription to Blocipedia</h1>
      <a class="btn btn-success" href="/">Back to Home</a>
    </main>
  </body>
</html>